Body {
  font-family: 'Montserrat', sans-serif;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;}

.titulo-centralizado {text-align: center;
  clear: left;}


#missão {font-size: 20px}

em strong {color: red }

.itens {font-size: 20px;
font-style: italic}

.benefícios {background-color: white;
padding: 20px;
}

.lista {display: inline-block;
vertical-align: top;
width: 20%;
margin-right: 15%;}

.imagembenefícios {width: 50%;
box-shadow: 10px 10px 10px 0 #000000;}

footer {
  text-align: center;
  background: url(bg.jpg);
  padding: 40px 0px;
}

.Copyright {
  color:blanchedalmond;
  font-size: 14px;
  margin: 20px 0 0
  
}

/*CSS da pagina inicial*/

.banner {
  width: 100%;
}

.titulo-centralizado {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;

}
.utensilios {
  width: 110px;
  float: left;
  margin: 0 20px 20px 0;

}

.principal {
  padding: 3em 0;
  background-color: #FEFEFE ;
}

.principal p {
  margin: 0 0 1em;
}


.principal strong {
  font-weight: bold;

}

.principal em {
  font-style: italic;
}

.mapa {
  padding: 3em 0;
}

.mapa p {
  text-align: center;
  padding: 0 0 2em;
}
.video {
  width: 560px;
  margin: 1em auto;
}

.beneficios {
  padding: 3em 0;
  background-color: gray;
}

.lista {
  line-height: 1.5 ;

}
.itens:first-child {
  font-weight: bold;
}

.itens:before {*}

@media screen and (max-width: 180px) {
  .caixa, .principal, .conteudo-beneficios, .mapa, .video{
  width: auto;
h1{
  text-align: center;
}
nav {position: static;

}
.lista, .beneficios {
  width: 100%;
}
}